p {
  font-size: 1.3rem;
}
h1 {
  font-size: 2rem;
}

/* UTILITES */
.logo {
  font-size: 12rem;
}
.section {
  top: 64px;
  left: 0;
  width: 100%;
  height: fit-content;
}

/* SIDEBAR */
.side-bar {
  justify-content: center;
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 1rem;
}
.side-bar ul {
  display: flex;
}
.side-bar ul li {
  position: relative;
  margin: 0 1rem;
  transition: transform 0.5s;
}
.side-bar .logo {
  display: none;
}
.home-icon::after,
.contact-icon::after,
.work-icon::after,
.about-icon::after {
  content: "";
}

/* HOME */
#home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}
#home .logo {
  width: 300px;
}
#home h1 {
  font-size: 2rem;
}
#home p .type-effect::after {
  display: none;
}
#home p {
  order: 2;
  margin: 2rem 0;
}
#home .container {
  order: 1;
  display: block;
}
#home .button-contact,
.button-work {
  width: 100%;
  margin: 5px 0;
}
/* CONTACT */
#contact {
  text-align: center;
}
#contact form {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 0.5rem;
}
#contact input,
#contact textarea {
  text-align: center;
}

#contact .contact-info {
  justify-content: center;
}

#contact .contact-group {
  display: none;
}

/* WORK */
.modal-inner {
  width: 80%;
}
.modal-links {
  flex-direction: column;
}
.modal-links .button-modal:nth-child(1) {
  margin-bottom: 0.75rem;
}

/* ABOUT */
#about {
  flex-flow: column;
  padding: 2rem;
}
#about .container {
  max-width: 100%;
}
#about .about-row {
  flex-direction: column;
}
#about .avatar-image {
  width: 250px;
  height: 250px;
  margin: 1rem 0;
}
#about .skills-image {
  width: 250px;
  height: 250px;
  margin: 1rem 0;
  order: 1;
}

@keyframes highlight {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@media (max-width: 350px) {
  #contact form {
    padding: 0;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1700px) {
} ;
