* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #6deeff;
  --secondary-color: #f05454;
  --dark-transparent: rgba(105, 105, 105, 0.9);
  --text-color: #333;
}
body,
html {
  width: 100%;
  min-height: 100%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e9e9e9;
  background-image: url("../images/rocky-wall.png");
  overflow-x: hidden;
}
textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}
img {
  width: 100%;
}

h1 {
  font-family: "Lexend Exa", sans-serif;
  color: var(--text-color);
  font-size: 2.5rem;
  margin: 2rem auto;
  align-self: center;
  word-spacing: 1.2;
  letter-spacing: 2;
}
h2 {
  font-family: "Lexend Exa", "sans-serif";
  font-size: 1.3rem;
}
i {
  color: rgba(255, 255, 255, 0.9);
}
p {
  color: var(--text-color);
  font-size: 1.5rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* ---UTILITIES--- */
.p-1 {
  padding: 1rem;
}

.section {
  position: absolute;
  left: 10vw;
  top: 0;
  right: 0;
  min-height: 100%;
  width: 90vw;
  padding: 2rem;
  transition: all 0.5s;
}
.button {
  position: relative;
  border: none;
  background: var(--secondary-color);
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border: 4px #333 solid;
  cursor: pointer;
  transition: color 0.2s ease-in 0.2s;
}
.button span {
  position: relative;
  z-index: 10;
}
/* button effect */
.button:hover {
  color: #333;
}
.button::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease-in;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 0;
}
.button:hover.button::before {
  width: 100%;
}

.input-style {
  border: 4px #333 solid;
  background-color: #ddd;
  font-size: 1.2rem;
}
.line {
  width: 150px;
  height: 3px;
  background: var(--main-color);
  margin: 2rem auto;
}
.hidden {
  visibility: hidden;
  transform: scale(0);
}

/* ---ACTIVE PAGE--- */
.active-page {
  color: var(--secondary-color);
}

/* ---CROSS--- */
.cross {
  position: absolute;
  top: 10px;
  bottom: 0;
  right: 15px;
  width: 10px;
  height: 15px;
  cursor: pointer;
}
.cross .left {
  position: absolute;
  width: 3px;
  height: 15px;
  background-color: var(--text-color);
  transform: rotate(45deg);
}
.cross .right {
  position: absolute;
  width: 3px;
  height: 15px;
  background-color: var(--text-color);
  transform: rotate(-45deg);
}

/*-- LOGO --*/
.logo {
  width: 500px;
}

/* SIDE BAR */
.side-bar {
  padding: 3rem 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 10vw;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  position: fixed;
}
.side-bar .logo {
  width: 60px;
  margin-bottom: auto;
}
.side-bar ul li {
  position: relative;
  margin: 1.5rem 0;
  transition: transform 0.5s;
}
.side-bar ul li:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* SIDE BAR -- LINKS */
.home-icon::after,
.contact-icon::after,
.work-icon::after,
.about-icon::after {
  content: attr(name);
  position: absolute;
  font-size: 1rem;
  font-weight: 400;
  color: #f4f4f4;
  text-transform: capitalize;
  top: 7px;
  left: 42px;
  opacity: 0;
  z-index: -1;
  transform: translateX(-25px);
  transition: ease opacity 0.5s, transform 0.5s;
}
.home-icon:hover::after,
.contact-icon:hover::after,
.work-icon:hover::after,
.about-icon:hover::after {
  opacity: 1;
  transform: translateX(0);
}

/* --- HOME SECTION --- */
#home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
#home h1 {
  animation: highlight 1.7s ease-out infinite alternate;
}
#home .container {
  max-width: 100%;
  margin: 0;
}
#home p {
  min-width: 70%;
  text-align: left;
  font-size: 2.3rem;
  color: rgb(35, 61, 206);
}
#home p .type-effect {
  position: relative;
  color: var(--text-color);
}
#home p .type-effect::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 70%;
  top: 15%;
  margin-left: 5px;
  background: var(--text-color);
  animation: blink 0.8s infinite;
}
#home .button-contact,
.button-work {
  font-size: 1.4rem;
  padding: 1rem 0;
  width: 49%;
  font-weight: 500;
}
#home .button-work {
  background-color: transparent;
}
/* CONTACT SECTION */
#contact {
  text-align: center;
  height: 100%;
}
#contact form {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#contact .subject {
  grid-column: 1 / span 2;
}
#contact .message {
  grid-column: 1 / span 2;
  resize: none;
}
#contact .submit {
  grid-column: 1 / span 2;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin: -2rem -2rem 0;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.1);
}
.contact-info p {
  font-size: 1.2rem;
}
.contact-group {
  display: flex;
  align-items: center;
}
.contact-group i {
  margin: 0 5px;
  color: var(--text-color);
}
.social-media i {
  margin: 0 0.5rem;
  border: 2px solid var(--text-color);
  border-radius: 10px;
  cursor: pointer;
  padding: 7px;
  transition: all 0.5s;
  color: var(--text-color);
}
.social-media i:hover {
  transform: scale(1.2);
  background-color: var(--secondary-color);
  color: #fff;
}

/* WORK SECTION */
#work {
  text-align: center;
}

#work .container {
  max-width: 80%;
  margin: 100px auto 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
  gap: 0.5rem;
  grid-template-rows: repeat(3, 200px);
  /* gap: 2rem; */
}

#work .work-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#work .work-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
#work .work-card h2 {
  color: #f4f4f4;
}
#work .work-card p {
  font-size: 1.1rem;
  color: #f4f4f4;
}
#work .card-overlay {
  position: absolute;
  background-color: var(--dark-transparent);
  transform: translate(-100%, -100%);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#work .work-card:hover .card-overlay {
  visibility: visible;
  transform: translate(0, 0);
}

/* MODAL */
#work .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
#work .modal-inner {
  position: relative;
  background-color: #f4f4f4;
  max-width: 700px;
  text-align: left;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 3rem;
  z-index: 100;
}
#work .modal p {
  margin: 2rem 0;
}
#work .close-modal {
  position: absolute;
  top: 5px;
  right: 15px;
  padding: 1rem;
  cursor: pointer;
}
#work .close-modal i {
  color: #333;
}
#work .modal-links {
  display: flex;
  justify-content: start;
}
#work .modal .button-modal {
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 0.25rem 0.75rem;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}
#work .modal .button-modal:hover {
  background-color: var(--text-color);
  color: #f4f4f4;
}
#work .modal-links .button-modal i {
  margin-right: 0.2rem;
  color: inherit;
}

/* ABOUT */
#about h1 {
  text-align: center;
  margin: 1rem 0;
}
#about .container {
  margin: auto;
  max-width: 80%;
}
#about .about-row {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
#about .avatar-image,
#about .skills-image {
  width: 300px;
  height: 300px;
  margin-right: 3rem;
  border: 15px solid #f4f4f4;
  border-radius: 50%;
}
#about .skills-image {
  margin-left: 3rem;
  margin-right: 0;
  object-fit: cover;
}
#about p.text-content {
  text-align: justify;
  line-height: 1.5;
}

/* ---ANIMATIONS--- */
@keyframes highlight {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* MEDIA */
@media screen and (max-width: 1800px) and (min-width: 1201px) {
  #work .container {
    grid-template-rows: repeat(4, 300px);
  }
} ;
